@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet CSS */
@import "leaflet/dist/leaflet.css";

body {
  background-color: #f8fafc;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}
